@font-face {
  font-family: "Marcellus";
  src: url("./marcellus/Marcellus-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./mulish/Mulish-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
